*{
    margin:0;
    display:block;
}

.title{
    text-align:center;
    font-size:32px;
    color:blue;
    background-color:aqua;
    position:static;
}

.navbar ul{
    list-style-type:none;
    background-color:navy;
    color:white;
    padding:10px;
    text-align:center;
    margin:0px;
}

.navbar ul li{
    display:inline-block;
    padding:20px;
}

.navbar ul li .ipt{
    border-radius:5px;
    height:20px;
    width:150px;
}

.navbar ul li .search-bar{
    display:inline-block;
    width:130px;
    padding:15px;
}

.image{
    display:block;
    width:1000px;
    height:750px;
    background-size:cover;
}

footer{
    text-align:center;
    background-color:navy;
    color:white;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
    margin-top:20px;
}

ul li a{
    text-decoration:none;
    color:white;
    background-color:rgb(0, 60, 255);
    height:27px;
    width:75px;
    padding:5px;
    border-radius:5px;
    text-align:center;
    margin-top:5px;
}

.side-nav{
    height:100%;
    width:200px;
    position:fixed;
    top:135px;
    left:0;
    background-color:navy;
    padding-top:20px;
    z-index:1;
}

.side-nav a{
    padding:10px 15px;
    text-decoration:none;
    font-size:18px;
    color:white;
    display:block;
    padding:20px;
    background-color:rgb(0, 60, 255);
    border-radius:8px;
    margin-bottom:5px;
}